version: '3.3'
services:
  imagesaving_api:
    build: .
    command: python /src/manage.py runserver 0.0.0.0:8088
    container_name: api.image.com
    restart: always
    volumes:
      - .:/src
    ports:
      - "8090:8090"
    networks:
      - imagesaving-network


networks:
  imagesaving-network:
    driver: bridge